.logoStyle{
    border: 3px solid green;
    border-radius: 40px;
    width: auto;
    min-width: 70px;
    max-width: 70px;
    height: auto;
    min-height: 70px !important;
    max-height: 70px !important;

}

.navStyle {

    border-bottom: 4px solid green !important;

}

.linkStyle {

    color: green !important;
    font-size: 20px;
}

.linkStyle:hover, .linkStyle:active, .linkStyle:focus, .linkStyle:visited {

    border-bottom: 2px solid green !important;
 
}




@font-face {
    font-family: 'pixelFont';
    src: url('../fonts/04B_30__.TTF')
  }

  body {

    font-family: 'pixelFont';
    color: green;
    
  }